In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
manager_df = pd.read_csv("Salesmanager.csv")
manager_df.head()

   OrderDate   Region Sales Manager      Item  Units  Price
0   4-Jul-18     East          Mike  Notebook     62   4.99
1  12-Jul-18     East        Sophie    Binder     29   1.99
2  21-Jul-18  Central           Tom  Notebook     55  12.49
3  29-Jul-18     East          Anne    Binder     81  19.99
4   7-Aug-18  Central          Jack  Notebook     42  23.95

In [3]:

import pymongo
import csv
import json
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 27017)
db=client['sales']
colmanager=db['salesmanager']
colmanager.drop()

In [4]:
for index, row in manager_df.iterrows():
    print (row)
    colmanager.insert_one(row.to_dict())

OrderDate        4-Jul-18
Region               East
Sales Manager        Mike
Item             Notebook
Units                  62
Price                4.99
Name: 0, dtype: object
OrderDate        12-Jul-18
Region                East
Sales Manager       Sophie
Item                Binder
Units                   29
Price                 1.99
Name: 1, dtype: object
OrderDate        21-Jul-18
Region             Central
Sales Manager          Tom
Item              Notebook
Units                   55
Price                12.49
Name: 2, dtype: object
OrderDate        29-Jul-18
Region                East
Sales Manager         Anne
Item                Binder
Units                   81
Price                19.99
Name: 3, dtype: object
OrderDate        7-Aug-18
Region            Central
Sales Manager        Jack
Item             Notebook
Units                  42
Price               23.95
Name: 4, dtype: object
OrderDate        15-Aug-18
Region                East
Sales Manager         Mike
Item                Pencil
Units                   35
Price                 4.99
Name: 5, dtype: object
OrderDate        24-Aug-18
Region                West
Sales Manager       Header
Item                  Desk
Units                    3
Price                275.0
Name: 6, dtype: object
OrderDate        1-Sep-18
Region            Central
Sales Manager         Bob
Item                 Desk
Units                   2
Price               125.0
Name: 7, dtype: object
OrderDate        10-Sep-18
Region             Central
Sales Manager        Maria
Item                Pencil
Units                    7
Price                 1.29
Name: 8, dtype: object
OrderDate        18-Sep-18
Region                East
Sales Manager         Mike
Item              Notebook
Units                   16
Price                15.99
Name: 9, dtype: object
OrderDate        27-Sep-18
Region                West
Sales Manager       Header
Item                   Pen
Units                   76
Price                 1.99
Name: 10, dtype: object
OrderDate        5-Oct-18
Region            Central
Sales Manager         Tom
Item               Binder
Units                  28
Price                8.99
Name: 11, dtype: object
OrderDate        14-Oct-18
Region                West
Sales Manager          Rob
Item                Binder
Units                   57
Price                19.99
Name: 12, dtype: object
OrderDate        22-Oct-18
Region                East
Sales Manager         Mike
Item                   Pen
Units                   64
Price                 8.99
Name: 13, dtype: object
OrderDate        31-Oct-18
Region             Central
Sales Manager        Diana
Item                Pencil
Units                   14
Price                 1.29
Name: 14, dtype: object
OrderDate        8-Nov-18
Region               East
Sales Manager        Anne
Item                  Pen
Units                  15
Price               19.99
Name: 15, dtype: object
OrderDate        17-Nov-18
Region             Central
Sales Manager         Alex
Item                Binder
Units                   11
Price                 4.99
Name: 16, dtype: object
OrderDate        25-Nov-18
Region             Central
Sales Manager         Jack
Item              Notebook
Units                   96
Price                 4.99
Name: 17, dtype: object
OrderDate        4-Dec-18
Region            Central
Sales Manager        Alex
Item               Binder
Units                  94
Price               19.99
Name: 18, dtype: object
OrderDate        12-Dec-18
Region             Central
Sales Manager          Bob
Item                Pencil
Units                   67
Price                 1.29
Name: 19, dtype: object
OrderDate        21-Dec-18
Region             Central
Sales Manager        Diana
Item                Binder
Units                   28
Price                 4.99
Name: 20, dtype: object
OrderDate        29-Dec-18
Region                East
Sales Manager         Anne
Item              Notebook
Units                   74
Price                15.99
Name: 21, dtype: object
OrderDate        6-Jan-19
Region               East
Sales Manager        Mike
Item               Pencil
Units                  95
Price                1.99
Name: 22, dtype: object
OrderDate        15-Jan-19
Region             Central
Sales Manager        Maria
Item                Binder
Units                   46
Price                 8.99
Name: 23, dtype: object
OrderDate        23-Jan-19
Region             Central
Sales Manager         Jack
Item                Binder
Units                   50
Price                19.99
Name: 24, dtype: object
OrderDate        1-Feb-19
Region            Central
Sales Manager         Bob
Item               Binder
Units                  87
Price                15.0
Name: 25, dtype: object
OrderDate        9-Feb-19
Region            Central
Sales Manager        Alex
Item               Pencil
Units                  36
Price                4.99
Name: 26, dtype: object
OrderDate        18-Feb-19
Region                East
Sales Manager         Mike
Item                Binder
Units                    4
Price                 4.99
Name: 27, dtype: object
OrderDate        26-Feb-19
Region             Central
Sales Manager        Maria
Item                   Pen
Units                   27
Price                19.99
Name: 28, dtype: object
OrderDate        7-Mar-19
Region               West
Sales Manager      Header
Item               Binder
Units                   7
Price               19.99
Name: 29, dtype: object
OrderDate        15-Mar-19
Region                West
Sales Manager       Header
Item                Pencil
Units                   56
Price                 2.99
Name: 30, dtype: object
OrderDate        24-Mar-19
Region             Central
Sales Manager         Alex
Item              Notebook
Units                   50
Price                 4.99
Name: 31, dtype: object
OrderDate        1-Apr-19
Region               East
Sales Manager        Mike
Item               Binder
Units                  60
Price                4.99
Name: 32, dtype: object
OrderDate        10-Apr-19
Region             Central
Sales Manager        Diana
Item                Pencil
Units                   66
Price                 1.99
Name: 33, dtype: object
OrderDate        18-Apr-19
Region             Central
Sales Manager        Diana
Item                Pencil
Units                   75
Price                 1.99
Name: 34, dtype: object
OrderDate        27-Apr-19
Region                East
Sales Manager       Sophie
Item                   Pen
Units                   96
Price                 4.99
Name: 35, dtype: object
OrderDate        5-May-19
Region            Central
Sales Manager        Alex
Item               Pencil
Units                  90
Price                4.99
Name: 36, dtype: object
OrderDate        14-May-19
Region             Central
Sales Manager        Maria
Item                Pencil
Units                   53
Price                 1.29
Name: 37, dtype: object
OrderDate        22-May-19
Region                West
Sales Manager          Rob
Item                Pencil
Units                   32
Price                 1.99
Name: 38, dtype: object
OrderDate        31-May-19
Region             Central
Sales Manager        Maria
Item                Binder
Units                   80
Price                 8.99
Name: 39, dtype: object
OrderDate        8-Jun-19
Region               East
Sales Manager        Mike
Item               Binder
Units                  60
Price                8.99
Name: 40, dtype: object
OrderDate        17-Jun-19
Region             Central
Sales Manager         Jack
Item                  Desk
Units                    5
Price                125.0
Name: 41, dtype: object
OrderDate        25-Jun-19
Region             Central
Sales Manager          Tom
Item                Pencil
Units                   90
Price                 4.99
Name: 42, dtype: object

In [5]:
##colmanager.drop()
colmanager.insert_many(manager_df.to_dict('records'))

In [6]:
from config import cloudM ,cloudMpassword 
#print (cloudM,cloudMpassword)
cloudstr=f'mongodb+srv://{cloudM}:{cloudMpassword}@arinmongo-w3goy.mongodb.net/test?retryWrites=true&w=majority'
###
#using the example string above create your own connection string . 
#this is what you saved in the notepad during the cluster creation process

##
cloudclient = MongoClient(cloudstr)
#print(cloudstr)
colmanager.drop()
db=cloudclient['sales']
colmanager=db['salesmanager']
colmanager.insert_many(manager_df.to_dict('records'))

In [7]:
#db=cloudclient['sales']
#colmanager=db['salesmanager']

In [8]:
#colmanager.insert_many(manager_df.to_dict('records'))